.home{
  background-image: url("https://s3-alpha-sig.figma.com/img/44a4/8b2d/f8786273a36e985683bf1d514b82018d?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lCyWFNPzXTud9UZMH1BGLOBtsPFxXNg2J2vlEVp07a600S5cCie1jPjrcqmD4bAdiAXGFgHyS6CyCsSzXtVtZPaRTqb-ScqWnMo-tvV898OizGJjVG1t6SX6aRWLc3HjLOdcP6N-jnFFqM1LBqV7x2~zDXV~JdeEj2GtBTN3AIDTSDoMDdMwSnoyYymf4uj2HUKsOmWzp8-~SE4o7ExovPytIxmTYLwPc~BqD1NOmtQAYVYw4vqCsEFWEbm0gxEvxRS2mTWWGQtiIZzTdkU9JzzonioZPan4qpxN6hC7yxk0DhBn3LNfTc79LzxC9TlqT29w42UETB35~XS79duRPA__");
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto{
  color: white;
  width: 800px;
  font-size: 24px;
  position: relative;
  z-index: 1;
}

.home::before{
  content: ""; 
    position: absolute; 
    top: 100;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.4);
    z-index: 0; 
    height: 90vh;
}